[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "ext/assimp"]
	path = ext/assimp
	url = https://github.com/assimp/assimp.git
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb
[submodule "ext/rapidjson"]
	path = ext/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "ext/pcg32"]
	path = ext/pcg32
	url = https://github.com/wjakob/pcg32.git
[submodule "ext/tbb"]
	path = ext/tbb
	url = https://github.com/wjakob/tbb
[submodule "ext/openexr-1"]
	path = ext/openexr-1
	url = https://github.com/wzhhh123/openexr-1
[submodule "ext/openexr"]
	path = ext/openexr
	url = https://github.com/wjakob/openexr
[submodule "ext/zlib"]
	path = ext/zlib
	url = https://github.com/mitsuba-renderer/zlib
